@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body{
	text-align: left;
	font-family: verdana; 
}

#wrapper{background-color: #809994;
	width: 75%;
	margin: 0 auto;
	border: .00001px solid black;
}

h1{font-family: 'Oswald', sans-serif;
margin: 10px;
font-size: 2em; 
}

h2{font-family: 'Oswald', sans-serif;
margin: 10px;
font-size: 1.4em; 
}

nav{text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
margin: 10px;
word-spacing: 40px;
}

img{width: 100%;
height: auto;
}

hr{
	margin: 0px;
	width: 450px;
}

h3{
	font-size: 2em;
	font-family: 'Roboto Condensed', sans-serif;
	margin: 10px;	
}

h4{
	font-size: 1.5em;
	font-family: 'Roboto Condensed', sans-serif;
	margin: 50px 10px 10px 10px;
}

p{
	font-family: 'Roboto Condensed', sans-serif;
	text-align: left;
	margin: 10px;
	line-height: 1.2em;
}

ul{text-align: left; 
	margin: 15px;
	line-height: 1.5em;
}

li{font-family: 'Roboto Condensed', sans-serif;}

#two_column{
	background-color: #80aed6;
	border: 1px black solid;
	padding: 20px;
}

#left{background-color: #809994;
border: 1px black solid;
padding: 20px;
float: left;
width: 44%;

}

#right{
	background-color: #809994;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 44%;

}



.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;

}

footer{margin: 10px}

@media only screen and (max-width: 995px) and (min-width: 300px) {
	#left, #right {
		float: none;
		width: auto;
	}
}
