body{
	text-align: left;
	background-image: url(images/Cleveland_Skyline.1.jpg);
	background-size: cover;
	font-family: verdana; 
	background-position: center;
	background-repeat: no-repeat;
}

hr{
	margin: 0px;
	width: 450px;
}

h3{
	font-size: 40px
}

p{text-align: left;}

ul{text-align: left}